# LLM Provider Keys
OPENAI_API_KEY=your_key_here
GOOGLE_API_KEY=your_key_here

# Observability (Mandatory for Phase 1)
LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT="https://api.smith.langchain.com"
LANGCHAIN_API_KEY="lsv2_XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
LANGCHAIN_PROJECT=your_project_here